APP_NAME=MediTrack
APP_ENV=production
APP_DEBUG=false
APP_URL=${APP_URL:-https://laravel_suivi.up.railway.app}
APP_KEY=${APP_KEY}

DB_CONNECTION=pgsql
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}