APP_NAME=MediTrack
APP_ENV=production
APP_DEBUG=false
APP_URL=https://meditrack-laravel.platformsh.site
APP_KEY=${APP_KEY}

DB_CONNECTION=pgsql
DB_HOST=${PLATFORM_RELATIONSHIPS_DATABASE_HOST}
DB_PORT=${PLATFORM_RELATIONSHIPS_DATABASE_PORT}
DB_DATABASE=${PLATFORM_RELATIONSHIPS_DATABASE_PATH}
DB_USERNAME=${PLATFORM_RELATIONSHIPS_DATABASE_USERNAME}
DB_PASSWORD=${PLATFORM_RELATIONSHIPS_DATABASE_PASSWORD}